[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
requests = "*"
configparser = "*"
web3 = "*"
sqlalchemy = "*"
psycopg2-binary = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.11"
