[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
pytz = "*"
requests = "*"
configparser = "*"
web3 = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
alembic = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"
pytest-mock = "*"
pytest-env = "*"
pytest-alembic = "*"
sqlalchemy = "*"
alembic = "*"

[requires]
python_version = "3.11"
